/* ==================================================
   GENERAL
================================================== */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    margin: 0;

    font-family:
        Arial,
        Helvetica,
        sans-serif;

    background-color: #ffffff;

    color: #111111;
}


/* ==================================================
   HEADER
================================================== */

.header {

    height: 80px;

    background-color: #1f1f1f;

    border-bottom: 1px solid #1f1f1f;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 60px;

    position: sticky;

    top: 0;

    z-index: 1000;
}


/* LOGO */

.logo {

    width: 55px;

    height: 55px;

    display: flex;

    align-items: center;

    justify-content: center;

}

.logo img {

    max-width: 100%;

    max-height: 100%;

    object-fit: contain;

}


/* NAVIGATION */

.navbar {

    display: flex;

    gap: 28px;

}

.navbar a {

    color: #ffffff;

    text-decoration: none;

    font-size: 14px;

    transition: 0.2s;

}

.navbar a:hover {

    color: #0066cc;

}


/* ==================================================
   HERO
================================================== */

.hero {
    min-height: 500px;

    background-image: url("assets/img/batcave.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    border-bottom: 1px solid #464646;

    display: flex;
    align-items: center;
}


.hero-content {

    width: 100%;

    max-width: 1100px;

    margin: auto;

    padding: 70px 40px;

    display: grid;

    grid-template-columns: 1.2fr 0.8fr;

    align-items: center;

    gap: 60px;

}


/* HERO TEXT */

.hero-greeting {

    font-size: 14px;

    letter-spacing: 3px;

    margin-bottom: 10px;
    color: whitesmoke;

}

.hero-text h1 {

    font-size: 48px;

    margin: 0;

    line-height: 1.1;
    color: floralwhite;

}

.hero-text h2 {

    font-size: 27px;

    font-weight: normal;

    margin: 15px 0;

    color:whitesmoke

}

.hero-description {

    max-width: 500px;

    font-size: 16px;

    line-height: 1.7;
    color: whitesmoke;

}


/* HERO BUTTONS */

.hero-buttons {

    display: flex;

    gap: 15px;

    margin-top: 30px;
    color:white

}


/* HERO IMAGE */

.hero-image {

    display: flex;

    justify-content: center;

}

.hero-image img {

    width: 300px;

    height: 300px;

    object-fit: contain;

}


/* ==================================================
   COMMON SECTION TITLE
================================================== */

.section-title {
    width: fit-content;
    margin: 0 auto 50px;
    padding: 10px 32px;

    background-color: #111111;
    color: #f5c518;

    border: 1px solid #f5c518;
    border-radius: 2px;

    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;

    box-shadow: 4px 4px 0 #f5c518;

    transition: all 0.25s ease;
}

.section-title:hover {
    background-color: #f5c518;
    color: #111111;

    box-shadow: 0 0 0 #111111;
    transform: translate(2px, 2px);
}


/* ==================================================
   ABOUT
================================================== */

.about {

    background-color: #929292;

    padding: 80px 40px;

    border-bottom: 1px solid #2e2e2e;

}


.about-content {

    max-width: 1000px;

    margin: auto;

    display: grid;

    grid-template-columns: 0.8fr 1.2fr;

    align-items: center;

    gap: 70px;

}

.project-btn {
    background-color: rgb(75, 74, 73);
    color: #ffffff;
    border: 1px solid rgb(75, 74, 73);
    padding: 10px 22px;
    border-radius: 5px;
}

.project-btn:hover {
    background-color: rgb(22, 22, 22);
    color: #ffffff;
    border-color: #000000;
}

.contact-btn {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
    padding: 10px 22px;
    border-radius: 5px;
}

.contact-btn:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
}

/* ABOUT IMAGE */

.about-image {

    display: flex;

    justify-content: center;

}

.about-image img {

    width: 280px;

    height: 280px;

    object-fit: contain;

}


/* ABOUT TEXT */

.section-label {

    font-size: 12px;

    letter-spacing: 2px;

    font-weight: bold;

    color: #555555;

}

.about-text h2 {

    font-size: 32px;

    margin: 10px 0 20px;

}

.about-text > p {

    font-size: 15px;

    line-height: 1.7;

}


/* ABOUT INFORMATION */

.about-info {

    display: flex;

    gap: 35px;

    margin-top: 30px;

}

.about-info div {

    display: flex;

    flex-direction: column;

    gap: 5px;

}

.about-info strong {

    font-size: 13px;

}

.about-info span {

    font-size: 13px;

    color: #555555;

}


/* ==================================================
   SKILLS
================================================== */

.skills {

    background-color: #141414;

    padding: 80px 40px;

}


.skills-container {

    max-width: 1050px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 25px;

}


.skill {

    background-color: #f5c518;

    border: 1px solid rgb(228, 213, 9);

    border-radius: 8px;

    padding: 30px 20px;

    text-align: center;

    transition: 0.2s;

}

.skill:hover {

    transform: translateY(-5px);

    box-shadow:
        0 8px 20px
        rgba(0, 0, 0, 0.1);

}


.skill-icon {

    font-size: 35px;

    margin-bottom: 15px;

}

.skill h3 {

    font-size: 20px;

    margin-bottom: 12px;

}

.skill p {

    font-size: 13px;

    line-height: 1.5;

    color: #555555;

}


/* ==================================================
   PROJECTS
================================================== */

.projects {

    background-color: grey;

    padding: 80px 40px;

}


.projects-intro {

    text-align: center;

    font-size: 14px;

    margin-top: -25px;

    margin-bottom: 45px;

    color: #555555;

}


.projects-container {

    max-width: 1100px;

    margin: auto;

    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 30px;

}


/* PROJECT CARD */

.project-card {

    background-color: #f5c518;

    border: 1px solid rgb(228, 213, 9);

    border-radius: 8px;

    overflow: hidden;

    transition: 0.2s;

}

.project-card:hover {

    transform: translateY(-5px);

    box-shadow:
        0 8px 20px
        rgba(0, 0, 0, 0.1);

}


/* PROJECT IMAGE */

.project-card > img {

    width: 100%;

    height: 180px;

    object-fit: contain;

    background-color: #f5c518;

}


/* PROJECT CONTENT */

.project-content {

    padding: 25px;

}

.project-category {

    font-size: 11px;

    letter-spacing: 2px;

    color: #777777;

}

.project-content h3 {

    font-size: 21px;

    margin: 10px 0;

}

.project-content > p {

    font-size: 13px;

    line-height: 1.6;

    color: #555555;

}

.project-link {

    display: inline-block;

    margin-top: 10px;

    color: #0066cc;

    text-decoration: none;

    font-size: 13px;

    font-weight: bold;

}


/* ==================================================
   CONTACT
================================================== */

.contact {

    background-color: #141414;

    padding: 80px 40px;

}


.contact-content {

    max-width: 1000px;

    margin: auto;

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 70px;

}


/* CONTACT INFO */

.contact-info h2 {

    font-size: 32px;

    margin: 10px 0 20px;
    color: whitesmoke;

}

.contact-info > p {

    font-size: 14px;

    line-height: 1.7;
    color: whitesmoke;

}


.contact-links {

    margin-top: 30px;
    color: whitesmoke;

}

.contact-links p {

    font-size: 13px;
    color: whitesmoke;

}


/* CONTACT FORM */

.contact-form {

    display: flex;

    flex-direction: column;

    gap: 15px;

}

.contact-form input {

    height: 45px;

    border: 1px solid #ffffff;

    border-radius: 5px;

    padding: 0 15px;

    font-size: 13px;

}

.contact-form textarea {

    height: 130px;

    border: 1px solid #ffffff;

    border-radius: 5px;

    padding: 15px;

    font-size: 13px;

    resize: none;

}

.contact-form button {

    width: 140px;

    height: 40px;

    border: none;

    border-radius: 5px;

    background-color: #0b5ed7;

    color: white;

    font-size: 13px;

    cursor: pointer;

}


/* ==================================================
   FOOTER
================================================== */

.footer {

    min-height: 80px;

    background-color: rgb(245, 220, 0);

    border-top: 1px solid #c79109;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 60px;

}

.footer p {

    margin: 0;

    font-size: 12px;

}


/* ==================================================
   RESPONSIVE
================================================== */

@media (max-width: 768px) {


    .header {

        padding: 0 25px;

    }


    .navbar {

        gap: 12px;

    }


    .navbar a {

        font-size: 11px;

    }


    .hero-content {

        grid-template-columns: 1fr;

        text-align: center;

    }


    .hero-description {

        margin: auto;

    }


    .hero-buttons {

        justify-content: center;

    }


    .about-content {

        grid-template-columns: 1fr;

        text-align: center;

    }


    .about-info {

        justify-content: center;

    }


    .skills-container {

        grid-template-columns:
            repeat(2, 1fr);

    }


    .projects-container {

        grid-template-columns: 1fr;

        max-width: 500px;

    }


    .contact-content {

        grid-template-columns: 1fr;

    }


    .footer {

        padding: 20px;

        flex-direction: column;

        justify-content: center;

        gap: 8px;

    }

}