* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    background: white;
    font-family: "Times New Roman", serif;
}

/* Kotak utama */
.form-container {
    width: 750px;
    height: 475px;

    padding: 38px 28px;

    border: 6px solid #c0c0c0;

    box-shadow:
        inset 2px 2px 0 #ffffff,
        inset -2px -2px 0 #777777,
        2px 2px 0 #888888;

    overflow-y: scroll;
    overflow-x: hidden;

    background: #fdfdfd;
}

/* Setiap baris form */
.form-row {
    display: flex;
    align-items: center;

    margin-bottom: 12px;
}

/* Label */
.label {
    width: 120px;

    font-size: 30px;
    line-height: 1;

    flex-shrink: 0;
}

/* Input */
.form-row input {
    width: 535px;
    height: 38px;

    padding: 3px 5px;

    font-family: "Times New Roman", serif;
    font-size: 24px;

    border: 2px solid #999;

    box-shadow:
        inset 1px 1px 2px #777;

    background: white;
}

/* Address */
.address-row {
    align-items: center;
}

.address-row textarea {
    width: 405px;
    height: 155px;

    padding: 5px;

    resize: none;

    font-family: "Courier New", monospace;
    font-size: 22px;
    line-height: 1.35;

    border: 2px solid #888;

    box-shadow:
        inset 1px 1px 2px #777;

    background: white;
}

/* Postcode */
.postcode-row {
    margin-top: 10px;
}

.postcode-row input {
    width: 280px;
}

/* Placeholder */
input::placeholder {
    color: #333;
    opacity: 1;
}